
<section class="mb-4">
    <div class="container">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center meta">
                <div class="col col-top-text">
                            <h5 class="meta__name">Cars > <a class="text-muted">List Car</a></h5> 
                          
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center meta">
            <div class="col-auto">
                <h2 class="meta__name">List Car</h2>
                <br>
            </div>
            <div class="col-auto">
                <a href="./add-new-car" class="btn btn-primary"><i class="bx bx-plus plus-icon"></i> Add New Car</a>
            </div>
        </div>
        <div class="btn-group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-primary">All</button>
            <button type="button" class="btn btn-outline-primary">Small</button>
            <button type="button" class="btn btn-outline-primary">Medium</button>
            <button type="button" class="btn btn-outline-primary">Large</button>
        </div>
    </div>
</section>
<section>
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="car-cards col-4">
                        <div class="card">
                            <img class="card-img-top" src="/images/image-car.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-title">Nama/Tipe Mobil</p>
                                <h3 class="card-price">Rp.430.000/hari</h3>
                                <p class="card-caption">
                                    <i class="bx bxs-key"></i>
                                    Start rent - Finish rent
                                </p>
                                <p class="card-caption">
                                    <i class="bx bx-time-five" alt="icon-clock"></i>
                                    Updated at 4 Apr 2022, 09.00
                                </p>
                            </div>
                            <div class="button-group card-body card-body-button d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-danger card-body-button" data-toggle="modal" data-target="#exampleModalCenter">
                                        <i class="bx bx-trash-alt"></i>
                                        <a class="font-weight-bold">Delete</a>
                                    </button>
                                    <div class="divider"></div>
                                    <button type="button" class="btn btn-success card-body-button" >
                                        <i class="bx bx-edit"></i>
                                        <a class="font-weight-bold">Edit</a>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="car-cards col-4">
                        <div class="card">
                            <img class="card-img-top" src="/images/image-car.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-title">Nama/Tipe Mobil</p>
                                <h3 class="card-price">Rp.430.000/hari</h3>
                                <p class="card-caption">
                                    <i class="bx bxs-key"></i>
                                    Start rent - Finish rent
                                </p>
                                <p class="card-caption">
                                    <i class="bx bx-time-five" alt="icon-clock"></i>
                                    Updated at 4 Apr 2022, 09.00
                                </p>
                            </div>
                            <div class="button-group card-body card-body-button d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-danger card-body-button" data-toggle="modal" data-target="#exampleModalCenter">
                                        <i class="bx bx-trash-alt"></i>
                                        <a class="font-weight-bold">Delete</a>
                                    </button>
                                    <div class="divider"></div>
                                    <button type="button" class="btn btn-success card-body-button" >
                                        <i class="bx bx-edit"></i>
                                        <a class="font-weight-bold">Edit</a>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="car-cards col-4">
                        <div class="card">
                            <img class="card-img-top" src="/images/image-car.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-title">Nama/Tipe Mobil</p>
                                <h3 class="card-price">Rp.430.000/hari</h3>
                                <p class="card-caption">
                                    <i class="bx bxs-key"></i>
                                    Start rent - Finish rent
                                </p>
                                <p class="card-caption">
                                    <i class="bx bx-time-five" alt="icon-clock"></i>
                                    Updated at 4 Apr 2022, 09.00
                                </p>
                            </div>
                            <div class="button-group card-body card-body-button d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-danger card-body-button" data-toggle="modal" data-target="#exampleModalCenter">
                                        <i class="bx bx-trash-alt"></i>
                                        <a class="font-weight-bold">Delete</a>
                                    </button>
                                    <div class="divider"></div>
                                    <button type="button" class="btn btn-success card-body-button" >
                                        <i class="bx bx-edit"></i>
                                        <a class="font-weight-bold">Edit</a>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="car-cards col-4">
                        <div class="card">
                            <img class="card-img-top" src="/images/image-car.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-title">Nama/Tipe Mobil</p>
                                <h3 class="card-price">Rp.430.000/hari</h3>
                                <p class="card-caption">
                                    <i class="bx bxs-key"></i>
                                    Start rent - Finish rent
                                </p>
                                <p class="card-caption">
                                    <i class="bx bx-time-five" alt="icon-clock"></i>
                                    Updated at 4 Apr 2022, 09.00
                                </p>
                            </div>
                            <div class="button-group card-body card-body-button d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-danger card-body-button" data-toggle="modal" data-target="#exampleModalCenter">
                                        <i class="bx bx-trash-alt"></i>
                                        <a class="font-weight-bold">Delete</a>
                                    </button>
                                    <div class="divider"></div>
                                    <button type="button" class="btn btn-success card-body-button" >
                                        <i class="bx bx-edit"></i>
                                        <a class="font-weight-bold">Edit</a>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="car-cards col-4">
                        <div class="card">
                            <img class="card-img-top" src="/images/image-car.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-title">Nama/Tipe Mobil</p>
                                <h3 class="card-price">Rp.430.000/hari</h3>
                                <p class="card-caption">
                                    <i class="bx bxs-key"></i>
                                    Start rent - Finish rent
                                </p>
                                <p class="card-caption">
                                    <i class="bx bx-time-five" alt="icon-clock"></i>
                                    Updated at 4 Apr 2022, 09.00
                                </p>
                            </div>
                            <div class="button-group card-body card-body-button d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-danger card-body-button" data-toggle="modal" data-target="#exampleModalCenter">
                                        <i class="bx bx-trash-alt"></i>
                                        <a class="font-weight-bold">Delete</a>
                                    </button>
                                    <div class="divider"></div>
                                    <button type="button" class="btn btn-success card-body-button" >
                                        <i class="bx bx-edit"></i>
                                        <a class="font-weight-bold">Edit</a>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="car-cards col-4">
                        <div class="card">
                            <img class="card-img-top" src="/images/image-car.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-title">Nama/Tipe Mobil</p>
                                <h3 class="card-price">Rp.430.000/hari</h3>
                                <p class="card-caption">
                                    <i class="bx bxs-key"></i>
                                    Start rent - Finish rent
                                </p>
                                <p class="card-caption">
                                    <i class="bx bx-time-five" alt="icon-clock"></i>
                                    Updated at 4 Apr 2022, 09.00
                                </p>
                            </div>
                            <div class="button-group card-body card-body-button d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-danger card-body-button" data-toggle="modal" data-target="#exampleModalCenter">
                                        <i class="bx bx-trash-alt"></i>
                                        <a class="font-weight-bold">Delete</a>
                                    </button>
                                    <div class="divider"></div>
                                    <button type="button" class="btn btn-success card-body-button" >
                                        <i class="bx bx-edit"></i>
                                        <a class="font-weight-bold">Edit</a>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-auto">
                        <div class="card"  >
                            <img class="card-img-top" src="images/image-car.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-title">Nama/Tipe Mobil</p>
                                <h3 class="card-price">Rp.430.000/hari </h3>
                                <p class="card-caption" i class="fa-solid fa-key-skeleton"></i>Start rent - Finish rent
                                </p>
                                <a href="#" class="btn btn-primary">Delete</a>
                                <a href="#" class="btn btn-primary">Edit </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card"  >
                            <img class="card-img-top" src="http://localhost:1500/public/images/image-car.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-title">Nama/Tipe Mobil</p>
                                <h3 class="card-price">Rp.430.000/hari </h3>
                                <p class="card-caption" i class="fa-solid fa-key-skeleton"></i>Start rent - Finish rent
                                </p>
                                <a href="#" class="btn btn-primary">Delete</a>
                                <a href="#" class="btn btn-primary">Edit </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card"  >
                            <img class="card-img-top" src="./images/image-car.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-title">Nama/Tipe Mobil</p>
                                <h3 class="card-price">Rp.430.000/hari </h3>
                                <p class="card-caption" i class="fa-solid fa-key-skeleton"></i>Start rent - Finish rent
                                </p>
                                <a href="#" class="btn btn-primary">Delete</a>
                                <a href="#" class="btn btn-primary">Edit </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="max-width: 387px; max-height: 333px;">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="content">
        <div class="modal-body">
            <div class="row d-flex justify-content-center" style="width: 100%; align-items: center;">
                <img src="/images/mobil-popup.png" style="width: 50%;" alt="">
            </div>
            <div class="row d-flex justify-content-center" style="margin: auto;">
                <p>Menghapus Data Mobil</p>
            </div>
            <div class="row d-flex justify-content-center" style="margin: auto; max-width: 80%;">
                <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
            </div>
            <div class="row d-flex justify-content-center" style="margin: auto;">
                <div class="button-group">
                    <a href="" id="myBtn" class="btn-custom-save">Ya</a>
                    <a href="" type="button" class="btn-custom">Tidak</a>
                    
                  </div>
                </div>
        </div>
    </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
  

</div>
</section>